.float-left {
  float: left;
}

.float-right {
  float: right;
}

header {
  background: snow;
  padding: 16px;
  margin: 0;
  height: 100px;
}

section {
  padding: 0em;
}

#projects {
  height: 100%;
}

article {
  background: #f1f1f1;
}
