header h1 {
  font-size: 250%;
  margin: 20px;
}

.nav {
  float: right;
  /*min-width: 100px;*/
  height: auto;
  text-align: left;
}

.nav ul {
  display: none;
  background: snow;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  margin: 0;
  padding: 5px;
  height: 84px;
  font-size: 117%;
}

.socicon- {
  font-size: 150%;
}

.socicon-buffer {
  font: sans-serif;
  font-size: 180%;
  float:right;
  margin-top: 28px;
  color: seagreen;
}

.nav:hover .socicon-buffer {
  display: none;
}

.nav:hover ul {
  display: block;
}

.template {
  display: none;
}

.project-carousel {
  margin: 0 auto;
  width: 70%;
}

.project-carousel div {
  text-align: center;
}

section#contact ul {
  text-align: center;
  margin: 20px auto;
  padding:0;
  line-height: 3;
  /*max-width: auto;*/
  display: block;
}

@media screen and (min-width: 570px) {
  .nav ul , .nav li, .nav:hover li{
    display: inline-block;
    height: auto;
  }
  .nav ul {
    margin-top: 28px;
  }
  .nav li {
    /*padding: 0 1.6em;*/
    min-width: 80px;
    text-align: center;
  }
  .socicon-buffer {
    display: none;
  }
  section#contact li {
    display: inline-block;
    padding: 20px;
  }
}
