header h1 {
  font-size: 250%;
  margin: 20px;
}

.nav {
  float: right;
  /*min-width: 100px;*/
  height: auto;
  text-align: left;
}

.nav ul {
  display: none;
  background: snow;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  margin: 0;
  padding: 5px;
  height: 84px;
  font-size: 117%;
}

[class*="socicon-"]::before {
  font-size: 200%;
}

a.socicon-github:hover {
  color: #4078c0;
}

a.socicon-linkedin:hover {
  color: #006fa6;
}

a.socicon-twitter:hover {
  color: #1dcaff;
}

.socicon-buffer {
  font-size: 180%;
  float:right;
  margin-top: 28px;
  color: #aaddff;
}

.nav:hover .socicon-buffer {
  display: none;
}

.nav:hover ul {
  display: block;
}

.template {
  display: none;
}

.project-carousel {
  margin: 0 auto;
  width: 100%;
}

.project-carousel div {
  text-align: center;
}

.project-carousel button {
  display: none;
}

.description {
  display: none;
  height: 0px;
  z-index: 5;
  position: relative;
  top:15vw;
  left:0%;
  font-size: 3vw;
  padding:0;
  margin: 0;
}

.hover-block:hover .project-image {
  opacity: .2;
}

.hover-block:hover .description {
  display: block;
}

.project-carousel h6 {
  position: relative;
  top: -20px;
  margin: 0 auto;
}

#codestats ul {
  width: auto;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 16px;
  font-size: .9em;
  text-align: center;
}

#codestats li {
  width: auto;
  text-align: center;
}

#codestats h4 {
  padding: 20px 0 0 0;
  margin-bottom: 16px;
  font-size: 110%;
  text-align: center;
}

#codestats p {
  text-align: center;
}

.number {
  color: seagreen;
  font-size: 110%;
}

section#contact ul {
  text-align: center;
  margin: 20px auto;
  padding:0;
  line-height: 3;
  /*max-width: auto;*/
  display: block;
}

.section-header {
  padding: 20px 0 20px 3em;
  margin: 0;
  background: #444;
  color: snow;
  font-family: Exo;
  border-top: 3px solid #8899bb;
}

@media screen and (min-width: 570px) {
  .nav ul , .nav li, .nav:hover li{
    display: inline-block;
    height: auto;
  }
  .nav ul {
    margin-top: 28px;
  }
  .nav li {
    /*padding: 0 1.6em;*/
    min-width: 80px;
    text-align: center;
  }
  .socicon-buffer {
    display: none;
  }

  .project-carousel {
    width: 84%;
  }

  .project-carousel button {
    display: block;
  }
  #codestats ul {
    width:76%;
    margin: 0 auto;
    padding: 0;
    font-size: .9em;
  }

  #codestats li {
    width: 32%;
    text-align: center;
    padding: 0;
  }

  #codestats h4 {
    padding: 20px 0 0 0;
    margin-bottom: 16px;
    font-size: 110%;
  }

  #codestats p {
  }

}
